<% if user_signed_in? %>
    <% @total_miles_walked = 0.0 %>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="info">Your Goal</th>
            <th class="info">Miles Walked</th>
            <th class="info">Miles To Go</th>
          </tr>
        </thead>
        
        <tbody>
            
            <% @stats.each do |stat| %>
            <% @total_miles_walked = @total_miles_walked += stat.miles_walked %>
            <% end %>
            <tr>
        
                <td align="center"><h2><%= number_with_delimiter(current_user.yearly_goal, :delimiter => ',') %></h2></td>
                <td align="center"><h2><%= @total_miles_walked.round(2) %></h2></td>
                    <% @goal = Float (current_user.yearly_goal) %>
                    <% @miles_till_goal = @goal - @total_miles_walked %>
                <td align="center"><h2><%= @miles_till_goal.round(2) %></h2></td>
            </tr>
        </tbody>
    </table>
  <br/>
  <%= link_to "Add Walk", new_stat_path,class: 'btn btn-default' %>
<% else %>
    <h3>Walk 1,000 Miles A Year!</h3>
    <br/>
    <%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Log In", new_user_session_path %>
<% end %>