<!DOCTYPE html>
<html>
<head>
  <title>Walk 1,000 Miles Per Year</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Walk 1,000 Miles Per Year!" />
  <meta property="og:url" content="http://walk.johnelder.org" /> 
  <meta property="og:title" content="Walk 1,000 Miles Per Year!" /> 
  <meta property="og:description" content="You've Walked <%= yield(:walked) %> of <%= yield(:goal) %> Miles So Far This Year!" />
  <meta property="og:image" content="http://johnelder.org/images/walk.png"  />
</head>
<body>

<%= render "home/nav" %>


<div class="container">
  <%= render "home/flash_alerts" %>
  <%= yield %>
</div>

<p class="text-center">Copyright &copy; <a href="http://JohnElder.org">JohnElder.org</a>
<br/><br/>

</body>
</html>
